* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #1d5a6b;
    font-family: 'Raleway', sans-serif;
}

.header{
    position: relative;
    color: white;
    text-align: center;
}

.header__title{
    background-color: rgb(2, 2, 49);
    font-size: 60px;
    font-weight: 800;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    padding-top: 20px;
}

.header__subtitle{
    background-color: #121274;
    font-size: 45px;
    font-weight: 800 ;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    padding-bottom: 20px;
}

.foto{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    right: 50px;
    width: 250px;
    height: 400px;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    z-index: 10;
}

.foto img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section{
    position: relative;
    left: 0;
    color: white;
}

.section__h2{
    background-color: #2d66e2;
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.section__h2--titulo{
    background-color: #2d66e2;
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 40px;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);    
}

.section__h3{
    padding-left: 50px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.section p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    margin-bottom: 10px;
}

.section__ul{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.5;
    list-style: none;
    line-height: 2;
}

.destacado{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.h2{
    background-color: #2d66e2;
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
    margin-top: 40px;
    font-size: 22px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    background: #518492;
    margin: 50px 30px;
    color: white;
    padding: 0px;
    font-size: 50px;
    min-width: 350px;
    font-size: 14px;
    font-weight: bold;
}

.form__column{
    margin: 30px;
    min-width: 300px;    
    width: 40%;
}

.form__input{
    width: 100%;
    padding: 10px;
    margin: 7px 0px;
    border: none;
    border-bottom: 2px solid #1a3b46;
    box-sizing: border-box;
    background: transparent;
    color: white;
    min-width: 200px;
}

.form__input:focus{
    outline: none;
    background: #0e242b;
    border-bottom: 3px solid #47a9c7;
}

.form__checkbox {
    margin: 10px 0px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.form__checkbox label{
    padding-right: 30px;
}


.form__textarea{
    width: 100%;
    margin: 7px 0px;
    border: none;
    color: white;
    min-width: 200px;
}

.form__textarea textarea{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #1a3b46;
    background: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;   
}

.form__textarea textarea:focus{
    outline: none;
    background: #0e242b;
    border-bottom: 3px solid #47a9c7;
}

.form__button{
    border: none;
    display: flex;
    justify-content: baseline;
    width: 100%;
    margin: 7px 0px;
}

.form__button button{
    width: 50%;
    padding: 6px;
    height: 40px;
    border: none;
    background: #1a3b46;
    color: white;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.form__button button:active{
    outline: none;
    background: #0e242b;
    border-bottom: 3px solid #47a9c7;
}

.form__button button:hover{
    outline: none;
    background: linear-gradient(to bottom, #265868, #0d2830);
}

.form__button [type="submit"]{
    margin-right: 3px;
}

.form__button [type="reset"]{
    margin-left: 3px;
}

::placeholder{
    color: aliceblue;
    opacity: 0.5;
    font-style: italic;
}
.footer{
    position: relative;
    background-color: #0d0d29;
    color: aliceblue;
    height: 80px;
    margin-top: 20px;
}

.footer__redes{
    position: relative;
    width: 400px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    top: 17.5px;
    display: flex;
    justify-content: space-between;
}

.footer img{
    height: 45px;
    cursor: pointer;
    filter: sepia();
}

.footer img:hover{
    filter: none;
    transition: 1s;
    transform: scale(1.25);
    transform: rotate(360deg);
}

.footer__p{
    position: relative;
    text-align: center;
    color: antiquewhite;
    padding: 5px;;
}
