* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #215766;
    font-family: 'Raleway', sans-serif;
}
.header{
    font-size: 10px;
    padding: 10 px;
    top: 10px;
    
}
.header__title{
    position: relative;
    background-color: rgb(2, 2, 49);
    text-align: center;
    font-size: 5em;
    font-weight: 900;
    line-height: 0.25;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    padding-top: 1em;
    padding-bottom: 0.75em;
}

.header__subtitle{
    background-color: #121274;
    text-align: center;
    font-size: 4em;
    font-weight: 800 ;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    padding-top: 0.75em;
    padding-bottom: 1em;
    line-height: 0.25;
    height: 20px;
}
.foto{
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    top: 20px;
    right: 5%;
    border: 3px solid white;
    z-index: 10;
}

.foto img{
    height: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}

.section{
    position: relative;
    left: 0;
    font-size: 10px;
    color: aliceblue;
}

.section__info h2{
    background-color: rgb(45, 45, 226, 0.5);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.section__info h3{
    padding-left: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}
p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    margin-bottom: 10px;
}
#formacion{
    margin-top: 40px;
}

#experiencia{
    margin-top: 40px;
}

#formulario{
    margin-top: 40px;
}

.section__info ul{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.5;
    list-style: none;
    line-height: 2;
}

.destacado{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.form{
    position: relative;
    margin-top: 20px;
    color: aliceblue;
}

.form__h2{
    background-color: rgb(45, 45, 226, 0.5);
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
}

.form ul{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 20px;
    line-height: 2;
    font-weight: bold;
}

.form__form li{
    padding-left: 50px;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

.form__form input, textarea{
    display: inline-block;
    background-color: #0d0d29;
    opacity: .5;
    width: 600px;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
}

.form__form input:hover{
    border-color: #0d0d29;
    border-width: 3px;
    background-color: aliceblue;
    opacity: 1;
}


.form__form--checkbox input{
    height: 20px;
    width: fit-content;
    margin: 10px;
    justify-items: left;
}

.form__form textarea{
    display: inline-block;
    width: 600px;
    height: 100px;
    padding-left: 10px;
    font-size: 15px;
}

.form__form textarea:hover{
    border-color: #0d0d29;
    border-width: 3px;
    background-color: aliceblue;
    opacity: 1;
}

.form button{
    height: 30px;
    width: 80px;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Raleway', sans-serif;
}

.form button:hover{
    background: aquamarine;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}
.footer{
    position: relative;
    background-color: #0d0d29;
    color: aliceblue;
    height: 80px;
    margin-top: 20px;
}

.footer__redes{
    position: relative;
    width: 400px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    top: 17.5px;
    display: flex;
    justify-content: space-between;
}

.footer img{
    height: 45px;
    cursor: pointer;
    filter: sepia();
}

.footer img:hover{
    filter: none;
    transition: 1s;
    transform: scale(1.25);
    transform: rotate(360deg);
}

.footer__p{
    position: relative;
    text-align: center;
    color: antiquewhite;
    padding: 5px;;
}
